In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [10]:
# Configuration de la connexion à la base de données MySQL
db_user = 'Top_gun'
db_password = 'zg6N&284Bb<w'
db_host = '212.227.48.180'
db_port = '3306'
db_name = 'Top_gun'

# Création du moteur de connexion
engine = create_engine(f'mysql+mysqlconnector://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

# Vérification de la connexion
with engine.connect() as conn:
    print("Connexion établie avec succées")

Connexion établie avec succées

In [13]:
vols = 'logs_vols'
df_vols = pd.read_sql_table(vols, engine)

df_vols.head()

,ref_vol,aero_linked,jour_vol,time_en_air,etat_voyant,temp en °C,pressure en hPa,vibrations en m/s²
0,V07679725,B767_4924,2024-06-02,7.0,0,-5.7,930.6,3.116391
1,V02564879,B747_3165,2024-06-02,5.1,0,0.9,950.6,4.557825
2,V07933973,B757_2518,2024-06-02,7.7,3,-6.2,975.5,4.587071
3,V02230187,A340_1047,2024-06-02,6.1,1,-25.3,945.1,3.287869
4,V09071213,B757_6806,2024-06-02,4.5,0,11.1,931.3,2.816626

In [15]:
degradations = 'degradations'
df_degradations = pd.read_sql_table(degradations, engine)

df_degradations.head()

,ref_deg,linked_aero,compo_concerned,usure_nouvelle,measure_day,need_replacement
0,D003661,E170_6353,REAE170-E170_6353-0,53.0,2024-06-01,0
1,D009402,E170_6353,REAE170-E170_6353-1,50.0,2024-06-01,0
2,D000812,E170_6353,SYSE170-E170_6353-2,17.0,2024-06-01,0
3,D006665,E170_6353,ORDE170-E170_6353-3,7.0,2024-06-01,0
4,D001163,E170_6353,AUTE170-E170_6353-4,42.0,2024-06-01,0