In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Configuration de la connexion à la base de données MySQL
db_user = 'Top_gun'
db_password = 'zg6N&284Bb<w'
db_host = '212.227.48.180'
db_port = '3306'
db_name = 'Top_gun'

# Création du moteur de connexion
engine = create_engine(f'mysql+mysqlconnector://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

# Vérification de la connexion
with engine.connect() as conn:
    print("Connexion établie avec succées")

Connexion établie avec succées

In [3]:
vols = 'logs_vols'
df_vols = pd.read_sql_table(vols, engine)

df_vols.head()

,ref_vol,aero_linked,jour_vol,time_en_air,etat_voyant,temp en °C,pressure en hPa,vibrations en m/s²
0,V07679725,B767_4924,2024-06-02,7.0,0,-5.7,930.6,3.116391
1,V02564879,B747_3165,2024-06-02,5.1,0,0.9,950.6,4.557825
2,V07933973,B757_2518,2024-06-02,7.7,3,-6.2,975.5,4.587071
3,V02230187,A340_1047,2024-06-02,6.1,1,-25.3,945.1,3.287869
4,V09071213,B757_6806,2024-06-02,4.5,0,11.1,931.3,2.816626

In [4]:
degradations = 'degradations'
df_degradations = pd.read_sql_table(degradations, engine)
df_degradations.head()

,ref_deg,linked_aero,compo_concerned,usure_nouvelle,measure_day,need_replacement
0,D003661,E170_6353,REAE170-E170_6353-0,74.0,2024-07-22,0
1,D009402,E170_6353,REAE170-E170_6353-1,72.0,2024-07-22,0
2,D000812,E170_6353,SYSE170-E170_6353-2,34.0,2024-07-22,0
3,D006665,E170_6353,ORDE170-E170_6353-3,24.0,2024-07-22,0
4,D001163,E170_6353,AUTE170-E170_6353-4,66.0,2024-07-22,0

In [5]:
# Identifier les lignes dupliquées
duplicates = df_degradations.duplicated()

# Compter les lignes dupliquées
duplicated_counts = duplicates.value_counts()

duplicated_counts

True     538200
False    241470
Name: count, dtype: int64

In [6]:
# Afficher les lignes dupliquées
duplicated_rows = df_degradations[duplicates]
duplicated_rows

,ref_deg,linked_aero,compo_concerned,usure_nouvelle,measure_day,need_replacement
241470,D003661,E170_6353,REAE170-E170_6353-0,53.0,2024-06-01,0
241471,D009402,E170_6353,REAE170-E170_6353-1,50.0,2024-06-01,0
241472,D000812,E170_6353,SYSE170-E170_6353-2,17.0,2024-06-01,0
241473,D006665,E170_6353,ORDE170-E170_6353-3,7.0,2024-06-01,0
241474,D001163,E170_6353,AUTE170-E170_6353-4,42.0,2024-06-01,0
...,...,...,...,...,...,...
779665,D006322,CRJ700_2988,SYSCRJ700-CRJ700_2988-40,67.0,2024-07-24,0
779666,D005497,CRJ700_2988,PORCRJ700-CRJ700_2988-41,30.0,2024-07-24,0
779667,D005625,CRJ700_2988,HUBCRJ700-CRJ700_2988-42,14.0,2024-07-24,0
779668,D003657,CRJ700_2988,ECLCRJ700-CRJ700_2988-43,48.0,2024-07-24,0
779669,D000550,CRJ700_2988,SYSCRJ700-CRJ700_2988-44,27.0,2024-07-24,0

In [7]:
result = df_degradations[df_degradations['ref_deg'] == 'D003661']
result

,ref_deg,linked_aero,compo_concerned,usure_nouvelle,measure_day,need_replacement
0,D003661,E170_6353,REAE170-E170_6353-0,74.0,2024-07-22,0
1849,D003661,E170_5551,AUTE170-E170_5551-4,23.0,NaT,0
5768,D003661,A330_3548,SYSA330-A330_3548-8,56.0,2024-07-23,0
8667,D003661,E170_6913,SYSE170-E170_6913-27,28.0,2024-07-22,0
10530,D003661,E170_6353,REAE170-E170_6353-0,53.0,2024-06-01,0
...,...,...,...,...,...,...
764648,D003661,A330_3548,SYSA330-A330_3548-8,56.0,2024-07-23,0
767547,D003661,E170_6913,SYSE170-E170_6913-27,28.0,2024-07-22,0
769320,D003661,E170_6353,REAE170-E170_6353-0,75.0,2024-07-24,0
774998,D003661,A330_3548,SYSA330-A330_3548-8,57.0,2024-07-24,0
777897,D003661,E170_6913,SYSE170-E170_6913-27,28.0,2024-07-22,0

In [8]:
df_degradations.drop_duplicates(inplace=True)

In [9]:
df_degradations.duplicated().sum()

0

In [10]:
df_degradations

,ref_deg,linked_aero,compo_concerned,usure_nouvelle,measure_day,need_replacement
0,D003661,E170_6353,REAE170-E170_6353-0,74.0,2024-07-22,0
1,D009402,E170_6353,REAE170-E170_6353-1,72.0,2024-07-22,0
2,D000812,E170_6353,SYSE170-E170_6353-2,34.0,2024-07-22,0
3,D006665,E170_6353,ORDE170-E170_6353-3,24.0,2024-07-22,0
4,D001163,E170_6353,AUTE170-E170_6353-4,66.0,2024-07-22,0
...,...,...,...,...,...,...
241465,D006322,CRJ700_2988,SYSCRJ700-CRJ700_2988-40,67.0,2024-07-24,0
241466,D005497,CRJ700_2988,PORCRJ700-CRJ700_2988-41,30.0,2024-07-24,0
241467,D005625,CRJ700_2988,HUBCRJ700-CRJ700_2988-42,14.0,2024-07-24,0
241468,D003657,CRJ700_2988,ECLCRJ700-CRJ700_2988-43,48.0,2024-07-24,0
241469,D000550,CRJ700_2988,SYSCRJ700-CRJ700_2988-44,27.0,2024-07-24,0

In [12]:
# Exemple de sauvegarde des modifications dans une nouvelle table
modified_df = df_degradations.copy()  
modified_df.to_sql('Clean_degradations', con=engine, if_exists='replace', index=False)

print("Données sauvegardées avec succès dans la table 'Clean_degradations'.")

Données sauvegardées avec succès dans la table 'Clean_degradations'.

In [13]:
# Exemple de sauvegarde des modifications dans une nouvelle table
modified_df = df_degradations.copy()  
modified_df.to_sql('degradations', con=engine, if_exists='replace', index=False)

print("Données sauvegardées avec succès dans la table 'degradations'.")

Données sauvegardées avec succès dans la table 'degradations'.