In [45]:
import pandas as pd
from sqlalchemy import create_engine

In [46]:
# Configuration de la connexion à la base de données MySQL
db_user = 'Top_gun'
db_password = 'zg6N&284Bb<w'
db_host = '212.227.48.180'
db_port = '3306'
db_name = 'Top_gun'

# Création du moteur de connexion
engine = create_engine(f'mysql+mysqlconnector://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

# Vérification de la connexion
with engine.connect() as conn:
    print("Connexion établie avec succées")

Connexion établie avec succées

In [36]:
vols = 'logs_vols'
df_vols = pd.read_sql_table(vols, engine)

df_vols.head()

,ref_vol,aero_linked,jour_vol,time_en_air,etat_voyant,temp en °C,pressure en hPa,vibrations en m/s²
0,V07679725,B767_4924,2024-06-02,7.0,0,-5.7,930.6,3.116391
1,V02564879,B747_3165,2024-06-02,5.1,0,0.9,950.6,4.557825
2,V07933973,B757_2518,2024-06-02,7.7,3,-6.2,975.5,4.587071
3,V02230187,A340_1047,2024-06-02,6.1,1,-25.3,945.1,3.287869
4,V09071213,B757_6806,2024-06-02,4.5,0,11.1,931.3,2.816626

In [47]:
degradations = 'degradations'
data = pd.read_sql_table(degradations, engine)
df_degradations = pd.DataFrame(data)
df_degradations.head()

Empty DataFrame
Columns: [ref_deg, linked_aero, compo_concerned, usure_nouvelle, measure_day, need_replacement]
Index: []

In [38]:
# Identifier les lignes dupliquées
duplicates = df_degradations.duplicated()

# Compter les lignes dupliquées
duplicated_counts = duplicates.value_counts()

duplicated_counts

False    239400
Name: count, dtype: int64

In [39]:
# Afficher les lignes dupliquées
duplicated_rows = df_degradations[duplicates]
duplicated_rows

Empty DataFrame
Columns: [ref_deg, linked_aero, compo_concerned, usure_nouvelle, measure_day, need_replacement]
Index: []

In [40]:
result = df_degradations[df_degradations['ref_deg'] == 'D003661']
result

,ref_deg,linked_aero,compo_concerned,usure_nouvelle,measure_day,need_replacement
0,D003661,E170_6353,REAE170-E170_6353-0,53.0,2024-06-01,0
5678,D003661,A330_3548,SYSA330-A330_3548-8,40.0,2024-06-02,0
8577,D003661,E170_6913,SYSE170-E170_6913-27,17.0,2024-06-02,0
13725,D003661,E170_6353,REAE170-E170_6353-0,54.0,2024-06-04,0
16928,D003661,A330_3548,SYSA330-A330_3548-8,41.0,2024-06-04,0
...,...,...,...,...,...,...
224415,D003661,E170_6353,REAE170-E170_6353-0,74.0,2024-07-21,0
229032,D003661,E170_6913,SYSE170-E170_6913-27,27.0,2024-07-21,0
229905,D003661,E170_6353,REAE170-E170_6353-0,74.0,2024-07-22,0
234342,D003661,E170_6913,SYSE170-E170_6913-27,28.0,2024-07-22,0
237653,D003661,A330_3548,SYSA330-A330_3548-8,56.0,2024-07-23,0

In [41]:
df_degradations.drop_duplicates(inplace=True)

In [42]:
df_degradations.duplicated().sum()

0

In [43]:
df_degradations

,ref_deg,linked_aero,compo_concerned,usure_nouvelle,measure_day,need_replacement
0,D003661,E170_6353,REAE170-E170_6353-0,53.0,2024-06-01,0
1,D009402,E170_6353,REAE170-E170_6353-1,50.0,2024-06-01,0
2,D000812,E170_6353,SYSE170-E170_6353-2,17.0,2024-06-01,0
3,D006665,E170_6353,ORDE170-E170_6353-3,7.0,2024-06-01,0
4,D001163,E170_6353,AUTE170-E170_6353-4,42.0,2024-06-01,0
...,...,...,...,...,...,...
239395,D008279,A340_4021,SYSA340-A340_4021-40,47.0,2024-07-23,0
239396,D000731,A340_4021,PORA340-A340_4021-41,44.0,2024-07-23,0
239397,D004987,A340_4021,HUBA340-A340_4021-42,91.0,2024-07-23,0
239398,D009839,A340_4021,ECLA340-A340_4021-43,26.0,2024-07-23,0
239399,D007335,A340_4021,SYSA340-A340_4021-44,63.0,2024-07-23,0

In [44]:
# Exemple de sauvegarde des modifications dans une nouvelle table
modified_df = df_degradations.copy()  
modified_df.to_sql('degradations', con=engine, if_exists='replace', index=False)

print("Données sauvegardées avec succès dans la table 'degradations'.")

Données sauvegardées avec succès dans la table 'degradations'.